# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/

# Ignore packaging build artifacts (from `pip install -e`)
*.egg-info/
build/
dist/

# Ignore model checkpoint files
*.pt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files
*.jsonl
*.h5
*.ckpt

# Ignore virtual environment folders
venv/
.venv/
.env/

# Ignore OS files
.DS_Store
Thumbs.db

#Ignore .txt versions of .pdf files
.pdf.txt
